{% extends ('base.html')%} {%block title%} My Laundry {%endblock%} {% block section %}
<!-- Awal Section -->
<section>
  <div class="container">
    <div class="row d-flex">
      <div class="col px-4 py-4 mt-5 d-flex flex-column gap-3">
        <h3>My Laundry</h3>
        <h5>Wash and Cleaning</h5>
        <p>Sering sibuk sampai pakaian kotor menumpuk di rumah? Padahal, bisa jadi sarang bakteri dan penyakit. Masukkan semua pakaian kotormu ke laundry kami sekarang! Dijamin nggak akan mengganggu kesibukanmu, dan dijamin harganya pun sangat ramah di kantong mahasiswa maupun pekerja kantoran.</p>
        <a href="/layanan/"><button>Know More</button> </a>
      </div>
      <div class="col">
        <img width="500" height="400" src="{{url_for('static',filename='img/cuci1.jpg')}}" alt="cuci1" />
      </div>
    </div>
  </div>
</section>
<!-- Akhir Section -->
{%endblock%}
